$black: black;
$blue: blue;
$red: red;

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;

  &.center {
    justify-content: center;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.calendar {
  width: 400px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid $black;
  box-shadow: 0px 1px 2px $black;

  .header {
    margin-bottom: 15px;
  }

  .date {
    cursor: pointer;
  }

  .current {
    color: $blue;
  }

  .active {
    -moz-border-radius: 18px/18px;
    -webkit-border-radius: 18px 18px;
    border-radius: 18px/18px;
    border: solid 1px $red;
    width: 18px;
    height: 18px;
    text-align: center;
  }

  .arrow {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;

    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }

  .selected-date {
    margin-left: 15px;
    margin-right: 15px;
  }

  i {
    border: solid $black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
}
